<!doctype html>
<html>
<head>
    <title>Build-A-Blog By Bobby</title>
</head>
<body>

    <nav>
        <a href="/blog">Main Blog Page</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/newpost">Add A Blog Entry</a>    
    </nav>

    <br>

    <span style="margin-left:auto;margin-right:auto;"><h1>Build-A-Blog By Bobby</h1></span>

    <br><br>

    {% block content %}
    {% endblock %}

    <br><br>

    <hr>

</body>
</html>  