{% extends "base.html" %}

{% block content %}
    <h1>Get It Done!</h1>
    <form method = 'POST'>
        <label>
            Title For Your New Blog (fka New Task):
            <input type="text" name="title" />
        </label>

        <br><br>
        
        <label>
            Your New Blog:
            <textarea cols="30" rows="10" name="body">
            </textarea>    
        </label>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}
                <br><br>
                {{blog.body}}
<!--                <form method = "POST" action="/delete-task" style="display:inline-block;">  -->
                    <form method = "POST" action="/newpost" style="display:inline-block;">
                    <input type="hidden" name="blog-id" Value="{{blog.id}}" />
                    <input type="submit" value="Done!" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

    <h2>Completed</h2>

    <ul>
        {% for blog in completed_blogs %}
        <li>{{blog.title}}<br><br>{{blog.body}}</li>
        {% endfor %}
    </ul>

{% endblock %}